<template>
        <section>
            <div class="game-background">
                <div class="card-character-info">
                    <div class="photo"><img src="/images/galio.jpg" alt="갈리오"/></div>
                    <div class="text-box">
                        <div class="title">이름: 갈리오</div>
                        <div class="role">역할군: 탱커</div>
                        <div class="hard">난이도: 보통</div>
                    </div>
                </div>
                <div class="card-character-info">
                    <div class="photo"><img src="/images/nidalee.jpg" alt="니달리"/></div>
                    <div class="text-box">
                        <div class="title">이름: 니달리</div>
                        <div class="role">역할군: 암살자</div>
                        <div class="hard">난이도: 높음</div>
                    </div>
                </div>
                <div class="card-character-info">
                    <div class="photo"><img src="/images/senna.jpg" alt="세나"/></div>
                    <div class="text-box">
                        <div class="title">이름: 세나</div>
                        <div class="role">역할군: 원거리 딜러</div>
                        <div class="hard">난이도: 보통</div>
                    </div>
                </div>
                <div class="card-character-info">
                    <div class="photo"><img src="/images/tryndamere.jpg" alt="트린다미어"/></div>
                    <div class="text-box">
                        <div class="title">이름: 트린다미어</div>
                        <div class="role">역할군: 전사</div>
                        <div class="hard">난이도: 보통</div>
                    </div>
                </div>
                <div class="card-character-info">
                    <div class="photo"><img src="/images/nilah.jpg" alt="닐라"/></div>
                    <div class="text-box">
                        <div class="title">이름: 닐라</div>
                        <div class="role">역할군: 전사</div>
                        <div class="hard">난이도: 높음</div>
                    </div>
                </div>
                <div class="card-character-info">
                    <div class="photo"><img src="/images/leona.jpg" alt="레오나"/></div>
                    <div class="text-box">
                        <div class="title">이름: 레오나</div>
                        <div class="role">역할군: 탱커</div>
                        <div class="hard">난이도: 보통</div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    data() {
        return {
            crs: [
                {
                    photoName: '/images/galio.jpg',
                    crName: '갈리오',
                    crRole: '탱커',
                    crHard: '보통'
                },
                {
                    photoName: '/images/nidalee.jpg',
                    crName: '니달리',
                    crRole: '암살자',
                    crHard: '높음'
                },
                {
                    photoName: '/images/senna.jpg',
                    crName: '세나',
                    crRole: '원거리 딜러',
                    crHard: '높음'
                },
                {
                    photoName: '/images/tryndamere.jpg',
                    crName: '트린다미어',
                    crRole: '전사',
                    crHard: '보통'
                },
                {
                    photoName: '/images/nilah.jpg',
                    crName: '닐라',
                    crRole: '전사',
                    crHard: '높음'
                },
                {
                    photoName: '/images/galio.jpg',
                    crName: '갈리오',
                    crRole: '탱커',
                    crHard: '보통'
                },
                {
                    photoName: '/images/leonah.jpg',
                    crName: '레오나',
                    crRole: '탱커',
                    crHard: '보통'
                }
            ]
        }
    }
}
</script>
